{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<h1>
    Про нас
</h1>

<div><h2>Тут инфа про твою контору. Может реквизиты или еще чего. 
    Могу карту прикрутить</h2></div>

    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac0c20cfad27df2fe9c7c5aed59ffce89ca4b9307af89d36141ad28dfd84318cb&amp;width=555&amp;height=416&amp;lang=ru_RU&amp;scroll=true"></script>

{% endblock %}