{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
    <h1>{{title}}</h1>

        <ul class="list-posts">

            {% for product in products %}

            <li>
                
                <p>Название: {{ product_name }}<p>
                <p>Категория:{{ product_category }}<p>
                <p>Цена: {{ price }}<p>
                <p>Описание: {{ product_description }}<p>
                <a href="/store/{{ product.id }}" class="btn btn-warning">Детальнее</a>    
                <a href="/store/{{ product.id }}/delete" class="btn btn-danger">Удалить запись</a>    
                <a href="/store/{{ product.id }}/update" class="btn btn-success">Редактировать запись</a>    
                
            </li>

            {% endfor %}
        </ul>
{% endblock %}
