{% extends 'base.html' %}

{% block title %}
Новости
{% endblock %}

{% block body %}
<h1>
    Новости
</h1>
    <div class="container">
    <div class="card m-3 mb-3" style="width: 22rem; float: left; height: 33rem">
    <img src="/static/img/server1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Заголовок карточки</h5>
      <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
      <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
    </div>
  </div>

  <div class="card m-3 mb-3" style="width: 22rem; float: left; height: 33rem;">
    <img src="/static/img/server2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Заголовок карточки</h5>
      <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
      <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
    </div>
  </div>

  <div class="card m-3 mb-3" style="width: 22rem; height: 33rem; float: left;">
    <img src="/static/img/server3jpg.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Заголовок карточки</h5>
      <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
      <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
    </div>
  </div>
  </div>
{% endblock %}