{% extends 'base.html' %}

{% block title %}
Наш магазин
{% endblock %}

{% block body %}
<!-- <div class="container m-5">
    <h1>Серверное оборудование</h1><br>



    <p>Название: {{ product.product_name }}<p>
    <p>Категория:{{ product.product_category }}<p>
    <p>Цена: {{ product.price }}<p>
    <a href="/store/{{ product.id }}" class="btn btn-warning">Детальнее</a>     -->

<table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Категория</th>
        <th scope="col">Наименование</th>
        <th scope="col">Цена</th>
        <th scope="col"></th>
      </tr>
    </thead>    {% for product in products %}
    <tbody>
      <tr>
        <td>{{ product.product_category }}</td>
        <td>{{ product.product_name }}</td>
        <td>{{ product.price }}</td>
        <td><a href="/store/{{ product.id }}" class="btn btn-warning">Детальнее</a></td>
      </tr>

    </tbody>
  </table>
    {% endfor %}

</div>




{% endblock %}