{% extends 'base.html' %} {% block title %} Добавление товара {% endblock %} {%
block body %}
<h1>Добавить товар</h1>

<form method="post">
  <input
    type="text"
    name="product_name"
    id="product_name"
    class="form-control"
    placeholder="Введите название товара (до 150 символов)"
  />
  <br />
  <input
    type="text"
    name="price"
    id="price"
    class="form-control"
    placeholder="Введите цену товара"
  />
  <br />
  <!-- <input
    type="text"
    name="product_category"
    id="product_category"
    class="form-control"
    placeholder="Введите категорию товара"
  /> -->
  <select name="product_category" id="product_category" class="form-control">
    <option selected="selected">Выберите категорию</option>
    <option>server</option>
    <option>platform</option>
    <option>storage</option>
    <option>IP</option>
    <option>kommutator</option>
    <option>router</option>
    <option>processor</option>
    <option>operativ-memory</option>
    <option>HDD-SSD</option>
    <option>motherboard</option>
    <option>RAID</option>
  </select>
  <br />
  <textarea
    name="product_description"
    id="product_description"
    class="form-control"
    placeholder="Введите описание товара"
  ></textarea>
  <br />
  <!-- <input
    type="text"
    name="creator"
    id="creator"
    class="form-control"
    placeholder="Введите производитель товара (до 100 символов)"
  /> -->
  <select name="creator" id="creator" class="form-control">
    <option selected="selected">Выберите производителя</option>
    <option>Dell</option>
    <option>HP</option>
    <option>IBM</option>
    <option>Page</option>
    <option>Lenovo</option>
    <option>Supermicro</option>
    <option>AVAYA</option>
    <option>TADIRAN</option>
    <option>YEALINK</option>
    <option>Brocade</option>
    <option>Cisco</option>
    <option>Juniper</option>
    <option>Huawei</option>
  </select>
  <br />
  <input
    type="submit"
    class="btn btn-success"
    value="Отправить"
  />
  <br />
</form>

{% endblock %}


